.cd-popup-container {
    height: 150px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color:slategray;
    border: 2px solid darkblue;
}
p {
    text-align: center;
    font-weight: bold;
    padding: 24px;
}
ul { 
    display: flex;
    list-style-type: none;
    width: 300px;
    margin-left: -40px
}
ul li:first-child {
    height: 50px;
    width: 150px;
    background-color: lightblue;
    align-items: self-start;
    border: 2px solid blue;
    box-sizing: border-box;
}
ul li:last-child {
    height: 50px;
    width: 150px;
    background-color: lightcoral;
    align-items: self-end;
    border: 2px solid darkred;
    box-sizing: border-box;
}
ul li:first-child:hover {
    background-color: blue;
}
ul li:last-child:hover {
    background-color: darkred;
}
ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}