.navbar {
    height: 70px;
    width: 100%;
    background-color: #333;
    position: fixed;
    margin-top: -100px;
    display: flex;
}
.navbar-brand {
    color: #fff;
    font-size: 23px;
    text-align: center;
    float: left;
    padding: 15px;
    margin-left: 30px;

}
.badge {
    font-size: 12px;
    padding: 1px 5px;
    background-color: orange;
    border-radius: 10px;
}
.nav-link {
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-left: -40px;

}
.navbar-nav {
    list-style-type: none;
}